.whole {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.346);
    display: flex;
    justify-content: center;
    padding: 2rem 0rem 1.5rem 0rem;




    .inner {
        padding: 0rem 1rem;
        width: fit-content;
        gap: 3rem;
        flex-wrap: wrap;
        justify-content: center;
        display: flex;
        color: white;

        // .corosingle {
        //     display: none;
        //     // width: 100%;
        // }


        .link {
            text-decoration: none !important;
        }


        .particular {
            text-align: center;
            width: 6rem;

            p {
                color: white;
            }



        }


        .img {
            border-radius: 50%;
            border: 4px solid skyblue;
        }

        .img:hover {
            cursor: pointer;
            background-color: skyblue;
        }


    }

}

@media (min-width:768px) and (max-width:1023px) {
    .particular {
        width: 5rem !important;
        font-size: 1rem;
    }

}


@media (min-width:768px) and (max-width:1023px) {
    .particular {
        width: 5rem !important;
        font-size: 1rem;
    }

}

@media (min-width:475px) and (max-width:767px) {
    .particular {
        width: 4.75rem !important;
        font-size: .85rem;
    }

}

@media (min-width:320px) and (max-width:474px) {
    .particular {
        width: 4.75rem !important;
        font-size: .85rem;
    }

}
