.courosal {
    position: relative;


    .courosalimage {
        width: 100%;
    }

}





.whole {
    padding: 1rem 0rem 0rem 0rem;
    display: flex;
    flex-direction: column;
    gap: 5rem;
    width: 100%;
    top: 0;
    position: absolute;
    // height: 51rem;
    background-color: transparent;
    // background-size: cover;  
    // filter: blur(8px);
    // -webkit-filter: blur(8px);
    // background-image: url("https://res.cloudinary.com/dli6rliuj/image/upload/v1674125882/pexels-pixabay-356036_tuqhgp.jpg");
}