.whole {
    display: flex;
    justify-content: space-around;

    .sslogo {
        width: 10%;
    }


    .end {
        width: fit-content;
        display: flex;
        width: 50%;
        align-items: center;
        justify-content: space-evenly;
        font-size: 1.5rem;

        a {
            color: white;
            text-decoration: none;
        }

        a:hover {
            text-decoration: underline;
        }
    }
}